[color]
	ui = true
[core]
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
[user]
	name = "Ashwanth Goli"
[alias]
	#logs = log --pretty=format:\"%h - %an, %ar : %s\"
	logs = log --pretty=format:\"%Cred %h %Creset - %Cgreen %an, %ar : %Creset %s\"
	d = difftool
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[http]
	cookiefile = /home/ashwanth/.gitcookies
[sendemail]
	#smtpuser =
	#smtpserver =
	#smtpencryption = ssl
	#smtpserverport =
	#smtppass =
	suppresscc = self
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
